{% load i18n %} 
{% load mark_filter %}
{% block source %}
<h3>РЕШЕНИЕ №{{submit.id}}</h3>
<p><b>Задача</b> {{ submit.problem.number }}. {{ submit.problem.title }}.
<p><b>Автор решения</b> {{ author.last_name }} {{ author.first_name}}
<br><br>
<p><b>результат первой проверки: 
{% if submit.first_mark >= 0 %}
  <font size=+2>{{ submit.first_mark | mark }}</font></b> ({{ submit.first_judge.last_name }})
  <br><b>комментарий первого проверяющего:</b> {{ submit.first_comment }}
{% endif %}
{% if submit.second_mark >= 0 %}
  <p><b>результат второй проверки: <font size=+2>{{ submit.second_mark | mark }}</font></b> ({{ submit.second_judge.last_name }})
  <br><b>комментарий второго проверяющего:</b> {{ submit.second_comment }}
{% endif %}
{% if submit.final_mark >= 0 and submit.first_mark != submit.second_mark %}
  <p><b>результат третьей проверки: <font size=+2>{{ submit.final_mark | mark }}</font></b> ({{ submit.third_judge.last_name }})
  <br><b>комментарий третьего проверяющего:</b> {{ submit.third_comment }}
{% endif %}

{% if is_picture == '1' %}
  <p><img width=800 src={{ MEDIA_URL }}{{ submit.file }}>
{% elif is_picture == '2' %}
  {% for filename in pictures %}
    {% if '.png' in filename or '.gif' in filename or '.jpg' in filename or '.jpeg' in filename or '.PNG' in filename or '.GIF' in filename or '.JPG' in filename or '.JPEG' in filename %}
    <p><img width=800 src={{ MEDIA_URL }}{{ filename }}>
    {% else %}
    <p><a target="_blank" href={{ MEDIA_URL }}{{ filename }}>{{ filename }}</a>
    {% endif %}
  {% endfor %}
{% else %}
  <p><a target="_blank" href={{ MEDIA_URL }}{{ submit.file }}>Скачать работу участника</a> ({{ submit.file }})
{% endif %}
{% endblock %}
